{% import '_includes/forms' as forms %}

{% for site in sites %}
    <h2>{{ site.name }}</h2>
    {{ forms.autosuggestField({
        label: "Sitemap URL",
        name: 'sitemaps['~site.handle~']',
        suggestEnvVars: true,
        value: settings.getSitemapByHandle(site.handle),
        instructions: 'Location of the '~site.name~' sitemap relative to web root',
    }) }}
{% endfor %}

{{ forms.editableTableField({
    label: 'Additional URLs',
    instructions: 'Additional URLs to include in cache warming',
    id: 'additionalUrls',
    name: 'additionalUrls',
    cols: [
        {
            heading : 'URL',
            type: 'url',
        },
    ],
    rows: settings.additionalUrls,
    addRowLabel: "Add URL",
    allowAdd: true,
    allowDelete: true
}) }}